// Navigation code here
nav {
    background-color: @nav-bg;
    font-family: @nav-font;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1%;
    width: 100%;

        @media @phone {
            justify-content: space-evenly;
            padding: 2%;

        }


    .nav-section {
        h1{
            .flex();
            margin: 0 0 4% 0;
            font-size: 3rem;

            @media @phone {
                padding: 2%;
            }
        }

        a{
            justify-content: space-between;
            width: 65%;
            font-size: 1.1rem;
            padding: 1%;
            text-decoration: none;
            font-family: @nav-font;
            color: black;

            @media @phone {
                width: 100%;
                padding: 1.5%;
            }

            &:hover {
                background-color: darken(@btn-bg-color, 20%);
                color: darken(red, 20%);
            }
        }
    }
}